body {
    background-image: url("/Voting-secrecy.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    height: 100vh;
    margin: 0;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background: rgba(0, 0, 0, 0.6);
    max-width: 80%;
    margin: auto;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #FFD700;
    font-size: 2.5em;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    color: azure;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

button {
    border: none;
    padding: 10px 0;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.4);
}

#increment-btn {
    background: linear-gradient(90deg, #2C2891, #514FB6);
}

#save-btn {
    background: linear-gradient(90deg, #1C7947, #3BA35E);
}

#save-el {
    font-weight: bold;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}
